#main-head
{
	
	width:960px;
	height:60px;
	/*background-color:red;*/
	right:50%; /* Move it to the right for 50% of parent element*/
    margin-right:-480px; /* You need here to put 1/2 of what you have below in width*/
	margin-top:1px;
	position:fixed;
	/*background-image:url(../images/16.jpg);*/
}
#main-head>#empty1{
	width:50px;
	height:60px;
	/*background-color:blue;*/
	margin-left:20px;
	float:right;
}
#main-head>#empty2{
	width:50px;
	height:60px;
	/*background-color:black;*/
	margin-right:20px;
	float:right;
}
#main-head>#social1{
	width:100px;
	height:60px;
	margin-left:20px;
	/*background-color:green;*/
	float:right;
}
#main-head>#social2{
	width:100px;
	height:60px;
	/*background-color:silver;*/
	margin-right:20px;
	float:right;
}

